@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --size-6: 0.375rem;
  --size-10: 0.625rem;
  --size-14: 0.875rem;
  --size-16: 1rem;
  --size-18: 1.125rem;
  --size-20: 1.25rem;
  --size-24: 1.5rem;
  --size-26: 1.625rem;
  --size-30: 1.875rem;
  --size-40: 2.5rem;
  --size-50: 3.125rem;
  --size-60: 3.75rem;
  --size-70: 4.375rem;
  --size-80: 5rem;
  --size-100: 6.25rem;
  --size-110: 6.875rem;
  --size-120: 7.5rem;
  --size-150: 9.375rem;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(30.7, 142.34, 35.16, 0.69) 0%,
    rgb(164, 46, 224) 98.96%
  );
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* ul li:before {
  content: "";
} */

.header {
  display: flex;
  justify-content: flex-end;
}

.navbar {
  gap: var(--size-30);
  padding: var(--size-6) var(--size-16);
}

.nav-container {
  display: flex;
  gap: var(--size-50);
}

.navbar-nav {
  display: flex;
  align-items: center;
  gap: var(--size-20);
}

.navbar-toggler {
  outline: none;
  background-color: transparent;
  border: 1px solid transparent;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--size-10);
}

.nav-container h1 {
  text-align: center;
  font-size: var(--size-30);
  text-decoration: underline;
}

.nav-list li {
  font-size: var(--size-26);
  padding: var(--size-16);
  cursor: pointer;
}

.nav-list li.playing {
  text-decoration: underline;
}

ul.nav-list li:nth-child(4) {
  text-align: center;
}

.nav-list li span {
  font-size: var(--size-16);
}

li.list-footer {
  text-align: center;
  font-size: var(--size-16);
  padding: var(--size-10);
}

.hamburger {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: var(--size-30);
  color: #ffffff;
}

[aria-expanded="false"] ~ div.nav-container {
  display: none;
}

[aria-expanded="true"] ~ div.nav-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: var(--size-50);
  color: #fff;
  position: absolute;
  right: 37px;
  top: 57px;
  background-color: #4e1c75;
  width: 33%;
  height: 93vh;
  box-shadow: -2px 2px 10px 2px #bfbfbf;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-container {
  display: flex;
  flex-direction: column;
  width: 386px;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /*  position: absolute; */
  top: 148px;
  left: 2px;
}

.vinyl {
  position: relative;
  width: 356px;
  height: 348px;
}

.progress-container {
  background: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px 0;
  height: 7px;
  width: 85%;
}

.progress {
  background-color: rgb(91, 232, 78);
  border-radius: 5px;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.controls {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 284px;
  height: 110px;
}

.play-button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #7f17ca;
}
.play-button:hover {
  background-color: #4e1c75;
}

.controls-secondary {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background-color: #7f17ca;
}
.controls div,
.footer-img-container a > button {
  display: flex;
  justify-content: center;
}


footer {
  margin-top: 70px;
}

.footer-img-container {
  display: flex;
  gap: 20px;
}

.footer-img-container a > button {
  background-color: #ae5cee;
  font-size: 16px;
  transition: 0.5ms;
}
.footer-img-container a > button:hover {
  background-color: #4e1c75;
}

.icon-p {
  margin: 0;
}

.icon-play,
.icon-pause {
  position: relative;
  top: 8px;
}

.previous,
.next {
  font-size: 30px;
  background-color: #7f17ca;
}
.previous:hover,
.next:hover {
  background-color: #4e1c75;
}

.icon-step-forward,
.icon-step-backward {
  position: relative;
  top: 5px;
}

.footer {
  position: absolute;
  width: 390px;
  height: 94px;
  top: 750px;
  left: 1px;
}

.track-title,
.track-artist {
  font-weight: 400;
  color: #ffffff;
  font-size: 25px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.vinyl-container .vinyl {
  animation: rotate 3s linear infinite;

  animation-play-state: paused;
}

.vinyl-container.play .vinyl {
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.from-back {
  animation: from-back 2s cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal forwards;
}

@keyframes from-back {
  0% {
    transform: scale(0.5);
    transform-origin: 50% 0%;
  }

  100% {
    transform: scale(1);
    transform-origin: 50% 0%;
  }
}

@media only screen and (min-width: 285px) and (max-width: 560px) {
  [aria-expanded="true"] ~ div.nav-container {
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--size-50);
    position: absolute;
    right: 21px;
    top: var(--size-50);
    background-color: #4e1c75d6;
    width: 90%;
    height: 90vh;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
  }
}
